<h1>Hello Manager</h1>

<select id="m1" onchange="manage()">
    <option value="{{data}}">{{data}}</option>
    <option value="{{data1}}">{{data1}}</option>
</select>
<br>
<br>
<p id='demo'></p>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>branchId</th>
            <th>customerId</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>supervisorId</th>
        </tr>
    </thead>
    <tbody id="customer-list">
    
    </tbody>
</table>

